schedule: "*/10 * * * *"
deschedulerPolicy:
  strategies:
    RemovePodsViolatingNodeTaints:
      enabled: true
    LowNodeUtilization:
      enabled: true
      params:
        nodeResourceUtilizationThresholds:
          thresholds:
            cpu: 50
            memory: 40
            pods: 0
          targetThresholds:
            cpu: 75
            memory: 70
            pods: 50
        numberOfNodes: 5    

# cmdOptions:
#   dry-run: ""